/*--------------------------------------------------------------
# Notifications
--------------------------------------------------------------*/

.woocommerce-notices-wrapper {
  background-color: rgb(var(--color-base-950));
  color: rgb(var(--color-base-50));
}

.woocommerce-notices-wrapper > .wrapper {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 1rem 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
}

.woocommerce-notices-wrapper .wc-forward {
  display: none;
}

/*--------------------------------------------------------------
# Products Archive
--------------------------------------------------------------*/

/* Products Header
--------------------------------------------- */

.products-header.with-image {
  background-color: var(--color-accent);
}

.products-header > .container {
  max-width: var(--max-w-xxl);
  margin: 3rem auto;
  padding: 0 20px;
}

.products-header.with-image > .container {
  padding: 1.5rem 20px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  align-items: center;
}

.products-header .title {
  font-size: var(--font-5xl);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
}

/* Result Count
--------------------------------------------- */

.result-count > .container {
  max-width: var(--max-w-xxl);
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 1.5rem;
}

/* Pagination
--------------------------------------------- */

.woocommerce-pagination > .page-numbers {
  max-width: var(--max-w-xxl);
  margin: 0 auto 3rem;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
}

.woocommerce-pagination > .page-numbers .current {
  color: rgb(var(--color-base-400));
}

/* No Products Found
--------------------------------------------- */

.no-products-found > .wrapper {
  max-width: var(--max-w-xxl);
  margin: 3rem auto;
  padding: 0 20px;
}

/*--------------------------------------------------------------
# Product Single
--------------------------------------------------------------*/

/* Breadcrumb
  --------------------------------------------- */

.product-single .breadcrumb {
  text-transform: uppercase;
}

.product-single .breadcrumb > .wrapper {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 1.5rem 20px;
}

/* Product Main
  --------------------------------------------- */

.product-single .product-main {
  position: relative;
}

.product-single .product-main > .wrapper {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: 3rem;
  row-gap: 1.5rem;
}

@media (min-width: 960px) {
  .product-single .product-main > .wrapper {
    grid-template-columns: minmax(0, 1fr) 375px;
  }
}

/* Product Summary
  --------------------------------------------- */

.product-single .summary {
  padding: 3rem 20px 0;
}

@media (min-width: 960px) {
  .product-single .summary {
    padding: 0 0 0 20px;
  }
}

/* Product Header */

.product-single .product-header {
  margin-bottom: 1.5rem;
}

.product-single .product-header .product_title {
  margin-top: 1rem;
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.product-single .woocommerce-product-details__short-description {
  margin: 0.75rem 0 1.5rem;
  font-family: var(--font-serif);
  font-size: var(--font-xl);
}

/* Product Meta */

.product-single .product-meta a {
  text-decoration: underline;
}

/* Product Quantity - Stock */

.product-single .quantity,
.product-single .stock {
  display: none !important;
}

/* Product Cart */

.product-single .product-cart {
  margin: 2rem 0;
}

.product-single .product-cart .price {
  font-size: var(--font-2xl);
  font-family: var(--font-serif);
}

.product-single .product-cart .single_add_to_cart_button {
  width: 100%;
}

/* Product Variations */

.product-single table.variations {
  width: 100%;
  margin: 0;
}

.product-single .variations_form tr {
  display: block;
  margin-bottom: 0.75rem;
}

.product-single .variations_form tr:last-child {
  margin-bottom: 1.5rem;
}

.product-single .variations_form th {
  display: block;
  text-align: left;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.product-single .variations_form td {
  display: block;
}

.product-single .reset_variations {
  display: none !important;
}

.product-single .woocommerce-variation-price {
  margin: 0 0 1.5rem;
}

.product-single .shop-description > .wrapper {
  max-width: var(--max-w-sm);
  margin: 4.5rem auto;
  padding: 1.5rem 20px;

  text-align: center;
  border-bottom: 1px solid;
}

.product-single .shop-description > .wrapper .section-title {
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin: 0 0 1.5rem;
}

.product-single .shop-description > .wrapper p {
  font-family: var(--font-serif);
}

/*--------------------------------------------------------------
# Products Loop
--------------------------------------------------------------*/

/* Grid
--------------------------------------------- */

.products {
  max-width: var(--max-w-xxl);
  margin: 0 auto 3rem;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 3rem;
}

@media (min-width: 540px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 960px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Product
--------------------------------------------- */

.products .product {
  position: relative;
  margin-bottom: 0.25rem;
  min-width: 0;
}

.products .product img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.products .product .woocommerce-loop-product__title {
  margin: 1rem 0 0.5rem;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-tight);
}

.products .product .add_to_cart_button {
  margin-top: 0.75rem;
}

.products .product .added_to_cart {
  display: none;
}

/* Preorder */

.products .product .preorder-item {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 0;
  background-color: #01544c;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em;
}

/*--------------------------------------------------------------
# Cart
--------------------------------------------------------------*/

.page-cart > .container {
  max-width: var(--max-w-xxl);
  margin: 3rem auto;
  padding: 0 20px;
}

.page-cart .page-header {
  margin-bottom: 3rem;
}

.page-cart .page-header .title {
  font-size: var(--font-5xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
}

.page-cart .cart-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 3rem;
}

@media (min-width: 960px) {
  .page-cart .cart-wrapper {
    grid-template-columns: minmax(0, 1fr) 375px;
  }
}

/* Cart Items
--------------------------------------------- */

.page-cart .cart-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 3rem;
}

.page-cart .cart-item {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 1.5rem;
}

.page-cart .cart-item:not(:last-child) {
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed rgb(var(--color-base-200));
}

.page-cart .cart-item .product-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
}

.page-cart .cart-item .product-thumbnail a {
  display: block;
}

.page-cart .cart-item .product-name {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-snug);
  margin-bottom: 0.75rem;
}

/* Cart Totals
--------------------------------------------- */

.page-cart .cart_totals {
  position: sticky;
  top: calc(60px + 3rem);
}

.page-cart .cart_totals table {
  border-collapse: collapse;
}

.page-cart .cart_totals table tbody th::after {
  content: ':\00a0';
}

.page-cart .cart_totals table tbody tr {
  display: block;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-tight);
}

.page-cart .cart_totals .wc-proceed-to-checkout {
  margin-top: 1.5rem;
}

.page-cart .cart_totals .wc-proceed-to-checkout .shipping-info {
  margin-top: 1.5rem;
}

/* Cart Coupon
--------------------------------------------- */

.page-cart .toggle-coupon {
  cursor: pointer;
  margin-top: 1.5rem;
}

.page-cart .coupon {
  margin-top: 1.5rem;
}

.page-cart .coupon.hidden {
  display: none;
}

/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/

.page-checkout > .container {
  max-width: var(--max-w-xxl);
  margin: 3rem auto;
  padding: 0 20px;
}

.page-checkout .page-header {
  margin-bottom: 3rem;
}

.page-checkout .page-header .title {
  font-size: var(--font-5xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
}

.page-checkout .woocommerce-form-coupon-toggle,
.page-checkout .woocommerce-NoticeGroup {
  margin-bottom: 1.5rem;
}

.page-checkout .woocommerce-billing-fields h3,
.page-checkout #order_review_heading {
  font-size: var(--font-3xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
  margin-bottom: 1.5rem;
}

.page-checkout .checkout > .wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 3rem;
}

@media (min-width: 960px) {
  .page-checkout .checkout > .wrapper {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.page-checkout .checkout .col .sticky {
  position: sticky;
  top: calc(60px + 3rem);
}

.page-checkout .checkout input:not(.input-radio),
.page-checkout .checkout textarea,
.page-checkout .checkout select {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-checkout .checkout textarea {
  min-height: 175px;
}

.page-checkout .woocommerce-shipping-fields {
  margin-bottom: 1.5rem;
}

.page-checkout .woocommerce-shipping-fields .shipping_address {
  margin-top: 1.5rem;
}

/* Order Review
--------------------------------------------- */

.page-checkout .order-review .cart-item {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed rgb(var(--color-base-200));
}

.page-checkout .order-review .cart-subtotal {
  margin-top: 1.5rem;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-tight);
}

.page-checkout .order-review .cart-shipping {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-tight);
}

.page-checkout .order-review .order-total {
  margin-top: 1.5rem;
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-tight);
}

/* Checkout Payment
--------------------------------------------- */

.page-checkout .woocommerce-checkout-payment {
  margin-top: 1.5rem;
}

.page-checkout .woocommerce-checkout-payment .methods label {
  font-weight: var(--font-bold);
}

/* Place Order
--------------------------------------------- */

.page-checkout .place-order {
  margin-top: 1.5rem;
}

/* Misc
--------------------------------------------- */

#ship-to-different-address .woocommerce-form__label {
  display: flex;
  align-items: center;
}

#ship-to-different-address-checkbox {
  display: inline-block;
  margin: 0 5px 0 0;
  width: auto;
}

#payment_method_bacs {
  margin-right: 5px;
}

/* Thank You
--------------------------------------------- */

.page-checkout .woocommerce-order-overview {
  margin-bottom: 1.5rem;
}

.page-checkout .wc-bacs-bank-details-heading {
  font-size: var(--font-2xl);
  line-height: var(--leading-tight);
  font-family: var(--font-sans-condensed);
  margin-bottom: 1.5rem;
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/

div.blockOverlay {
  background-color: transparent !important;
}

.stock:empty::before {
  display: none;
}
